<footer class="container template-footer">
	<div class="row footer-content">
		<div class="span-4 contact">
			{{widget('content', 'contacttitle', {content: '<h3>Contact</h3>'})|raw}}
			{{widget('profile', 'contactaddress', { 'profileType':'address'})|raw}}
			{{widget('profile', 'contactaddress', { 'profileType':'email'})|raw}}
			{{widget('profile', 'footercolumn1profilesocialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
		</div>
		<div class="span-4 product-categories">
			{{widget('content', 'productcategoriestitle', {content: '<h3>Product Categories</h3>'})|raw}}
		</div>
		<div class="span-4 pages">
			{{widget('content', 'pagestitle', {content: '<h3>Pages</h3>'})|raw}}
		</div>
	</div>
</footer>